* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'ralewayregular' ,  Arial, sans-serif;
}

/*HEADER*/
header {
    background: #000;
    width:100%;

    color: #FFF;
    padding: 15px 0;
    text-transform: uppercase;
    font-weight: bold;
}

.container {
    width: 1200px;
    margin: 0 auto;
    /*border: 1px solid black;*/
    display: flex;
    justify-content: space-between;
    /*box-sizing: border-box;*/
}
/* menu*/

.text_logo {
    color: rgb(116, 232, 206);
    font-weight: bold;
}

header .container ul {
    list-style: none;
    display:block;
    margin: 15px;
    width:30%;
}
header .container ul li {
    display: inline-block;
}
header .container ul li a {
    display: block;
    color: #FFF;
    text-decoration: none;
}

/*section with slider*/
#slider  {
    height: 600px;
    background: rgb(255,255,255);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
}


#slider .container ul {
    list-style: none;
    height: 600px;
    display: flex;
    justify-content: center;
    text-align: center;
}

#slider  ul li {
    width: 50%;
    /*height: 200px;*/
}

#slider .slider_image {
    background: url("../images/black_chair.png") no-repeat center/cover;
}

#slider .slider_text {
    text-align: center;
}

#slider ul .slider_text  h1{
    text-transform: uppercase;
    padding: 85px;
    box-sizing: border-box;
    font-size: 42px;
}

.text_color span {
    font-weight: bold;
}

#slider ul .slider_text  p{
    padding: 5px;
    box-sizing: border-box;
    font-size: 20px;
    margin:0 30px;
    line-height: 30px;
}


#slider ul .slider_text  #button {
    background-color: rgb(116, 232, 206);
    width: 350px;
    height: 60px;
    padding: 8px 0px 0px 0px;
    border-radius:10px;
    display: inline-block;
    font-size: 25px;
    text-decoration: none;
    margin-top: 80px;
    box-sizing: border-box;
}


#slider ul .slider_text #button  a {
    color: white;
    width: 230px;
    height: 60px;
    padding: 10px 14px 10px 14px;
    border-radius:10px;
    display: inline-block;
    font-size: 25px;
    text-decoration: none;
    text-transform: uppercase;
}
/*offer - */
#offer {
    width: 100%;
    display: flex;
    /*padding: 50px;*/
    box-sizing: border-box;
    height: 350px;
    }

#offer .container div {
    justify-content: space-between;
    width: 31%;
    height: 252px;
    border: 1px solid lightgrey;
    display: inline-block;
    margin-top: 35px;
}

.underlineTitle {
    border-bottom: 4px solid #24BAA0;
    width: 130px;
}

.offer_article1 {
    background-image: url("../images/box1_img.jpg") ;
    background-size: contain;
    font-weight: bold;

}

.offer_article2 {
    background-image: url("../images/box2_img.jpg");
    background-size: contain;
    margin-right: 35px;
    margin-left: 35px;
    font-weight: bold;
}

#offer .container .offer_article3 .text_article3 {
    box-sizing: border-box;
    padding-top: 35px;
    font-weight: bold;

}

#offer .container .offer_article3 .text_article3  {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 35px;
}
.text_article3 underlineTitle{
    width: 137px;
    /*font-weight: bold;*/
}

/*priceList*/

.priceList {
    background: #f1f1f1;
    width: 100%;
    height: 720px;
    padding-top: 45px;
}


.pricing {
    width: 1200px;
    margin: 0 auto;
}
.pricing p {
    border-bottom: 7px solid #24BAA0;
    width: 360px;
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 10px;
    text-transform: uppercase;
}

.priceList .container .priceBox {
    justify-content: space-between;
    width: 31%;
    height: 600px;
    border: 1px solid lightgrey;
    display: inline-block;
    text-align: center;
    margin-top: 80px;
    background-color: white;
    margin-top: 25px;
    position: relative;
}

.priceBox h2 {
    text-transform: uppercase;
    color: #24BAA0;
    font-size: 25px;
    margin-top: 27px;
    font-weight: bold;
}
.price {
    left: 117px;
    top: 80px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 4px solid lightgrey;
    padding: 20px;
    position: absolute;
}
.price p:first-child {
    font-size: 40px;
    font-weight: bold;
    color: #d6d5d5;
    position: relative;
    top: 6px;
}
.price p:last-child {
    font-size: 16px;
    font-weight: bold;
    color: #d6d5d5;
    position: relative;
    top: 8px;
    text-transform: uppercase;
}
.priceOffer1 {
    font-size: 25px;
    margin-top: 200px;
    font-weight: bold;
    background-color:#e4e4e4;
    color:darkslategray;
    padding: 15px;
    color: #939393;
}
.priceOffer2, .priceOffer4 {
    font-size: 25px;
    font-weight: bold;
    background: #f1f1f1;;
    color: #939393;
    padding: 15px;
}
.priceOffer3 {
    font-size: 25px;
    font-weight: bold;
    background-color:#e4e4e4;
    color:darkslategray;
    padding: 15px;
    color: #939393;
}
.priceButton {
    font-size: 20px;
    text-transform: uppercase;
    border: 1px solid gray;
    background-color: #27c7ab;
    width: 180px;
    /*height: 50px;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*margin-bottom: 15px;*/
    text-align: center;
    border-radius: 12px;
    line-height: 50px;
    box-sizing:border-box;
    bottom: 10px !important;
    position: absolute;
    left: 110px;
}

.priceButton a {
    color: white;
    text-decoration: none;
}

.priceOffer1 (
    margin-top:207px;
)

/*Form contact*/

.contact {
    background-color: green;
    width: 100%;
    height: 600px;
    box-sizing: border-box;
}

.contactTitle {
    width: 1200px;
    margin: 0 auto;
    padding:35px;
}
.contactTitle p {
    border-bottom: 7px solid #24BAA0;
    width: 360px;
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 10px;
    text-transform: uppercase;
}

 .contactTitle .container {
     height: 570px;
 }

 .contactForm {
     display: block;
     float: left;
     width: 635px;
 }

.contactForm input,
.contactForm textarea {
    font-family: 'ralewayregular', sans-serif;
    width: 635px;
}
 .contactForm textaera {
     resie:none;
 }
 .contactForm input,
 .contactForm textarea {
     font-size: 20px;
     padding-left: 10px;
     border: 1px solid #8de0d2;
 }
.contactForm input {
    height: 66px;
}
.contactForm input::placeholder {
    color: #cecece;
}

.contactForm textarea::placeholder{
    color: #cecece;
    padding-top: 15px;
}

.contact img {
    /*float: left;*/
    position: relative;
    top: -20px;
    right: 50px;
}

.checkBoxAgreement {
    position: relative;
    top: 50px;
    right: 80px;
}

.checkBoxAgreement input {
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 12px;
    background: url("../images/form_ok.jpg") no-repeat center;
}

.checkBoxAgreement label {
    display: block;
    padding-left: 65px;
    position: relative;
    font-size: 19px;
    color: #cecece;
    /*margin: 1px 0 10px 0;*/
}

.checkBoxAgreement input::value {
    border: 100px solid #27c7ab;
    background: url("../images/form_ok.jpg");
    /*padding: 100px;*/
    /*display: none;*/
    /*box-sizing: border-box;*/
}


.sendContact {
    font-size: 20px;
    text-transform: uppercase;
    border: 1px solid gray;
    background-color: #27c7ab;
    width: 360px;
    height: 50px;
    text-align: center;
    border-radius: 12px;
    line-height: 50px;
    box-sizing:border-box;
    position: relative;
    top: 50px;
    right: 80px;
}

.sendContact a {
    color: white;
    text-decoration: none;
}

/*footer*/

footer {
    padding: 15px 0;
}
footer .container div{
    display: flex;
    justify-content: space-between;
}

footer .logo {
    display: flex;
    justify-content: space-around;
}
footer .logo ul li a{
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: #939393;
}

.socialIcons {
    display: inline-block;
    float: left;
    font-size: 30px;
    margin-right: 130px;
    margin-top: -11px;
}

footer .logo ul li {
    list-style: none;
}

footer .logo ul li span{
    font-weight: 900;
}
