* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Verdana, sans-serif;
}

.container {
    width: 1200px;
    margin: 0 auto;
    /*border: 1px solid black;*/
    box-sizing: border-box;
}
/*header with menu*/

header {
    background: #000;
    color: #FFF;
    padding: 15px 0;
    width:100%;
    text-transform: uppercase;
    font-weight: bold;
}

.text_color {
    color: rgb(116, 232, 206);
    font-weight: bold;
}

header .container {
    display: flex;
    justify-content: space-between;
}
header .container ul {
    list-style: none;
    display:block;
    width:30%;
}
header .container ul li {
    display: inline-block;
}
header .container ul li a {
    display: block;
    color: #FFF;
    text-decoration: none;
}

/*section with slider*/
#slider  {
    height: 600px;
    background: rgb(255,255,255);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
}


#slider .container ul {
    list-style: none;
    height: 600px;
    display: flex;
    justify-content: center;
    text-align: center;
}

#slider  ul li {
    width: 50%;
    /*height: 200px;*/
}

#slider .slider_image {
    background: url("../images/black_chair.png") no-repeat center/cover;
}

#slider .slider_text {
    text-align: center;
}

#slider ul .slider_text  h1{
    text-transform: uppercase;
    padding: 85px;
    box-sizing: border-box;
    font-size: 42px;
}

#slider ul .slider_text  p{
    padding: 5px;
    box-sizing: border-box;
    font-size: 20px;
    margin:0 30px;
    line-height: 30px;
}

#slider ul .slider_text  #button {
    background-color: rgb(116, 232, 206);
    width: 350px;
    height: 60px;
    padding: 10px 14px 10px 14px;
    border-radius:10px;
    display: inline-block;
    font-size: 25px;
    text-decoration: none;
    margin-top: 80px;
    box-sizing: border-box;
}


#slider ul .slider_text #button  a {
    color: white;
    width: 230px;
    height: 60px;
    padding: 10px 14px 10px 14px;
    border-radius:10px;
    display: inline-block;
    font-size: 25px;
    text-decoration: none;
    text-transform: uppercase;
}
#offer {
    width: 100%;
    display: flex;
    /*padding: 50px;*/
    box-sizing: border-box;
    }

#offer .container div {
    justify-content: space-between;
    width: 31%;
    height: 225px;
    border: 1px solid lightgrey;
    display: inline-block;
    padding:10px;
}

.offer_article1 {
    background-image: url("../images/box1_img.jpg") ;

}

.offer_article2 {
    background-image: url("../images/box2_img.jpg");

}

#offer .container .offer_article3 {

}





/*footer {*/
    /*padding: 10px 0;*/
/*}*/
/*footer .container {*/
    /*display: flex;*/
    /*justify-content: space-between;*/
    /*padding: 10px 0;*/
/*}*/

/*footer .container .logo ul li a{*/
    /*padding: 10px;*/
    /*text-decoration: none;*/
    /*text-transform: uppercase;*/
/*}*/


